.app-button{
  text-align: center;
  margin-top: 10px;
  align-items: center;
  .formButton{
      width: 70%;
      height: 50px;
      text-transform: none;
      font-size: 1.2rem;
      --background:#d6be5d;
  }
  
}