<ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="listing">
      <ion-icon color="royal" name="home-outline"></ion-icon>
      <ion-label color="royal">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon color="royal" name="paw-outline"></ion-icon> 
      <ion-label color="royal">Dog Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/login">
      <ion-icon color="royal" name="log-out-outline"></ion-icon>
      <ion-label color="royal">Logout</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs> 

</ion-content>